<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Simple and convenient svelte router in style of Vue.js">
    <meta name="Keywords" content="svelte, router, vue">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title><%= htmlWebpackPlugin.options.title %></title>
    {$ HEAD $}

    <style>{$ STYLES $}</style>
</head>
<body>
<div id="app">
    {$ HTML $}
</div>
</body>
</html>